extends ../layout

block content
  .page-header
  h3 Game Settings

  form.form-horizontal(action='/account/game/settings', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='salery') Salery
      .col-sm-7
        input.form-control(type='salery', name='salery', id='salery', value='#{user.game.salery}')
    .form-group
      label.col-sm-3.control-label(for='goal') Goal
      .col-sm-7
        input.form-control(type='text', name='goal', id='goal', value='#{user.game.goal}' )
    .form-group
      label.col-sm-3.control-label(for='goal') Daily Budget
      .col-sm-7
        input.form-control(type='text', name='daily', id='daily', value='#{user.game.daily}' readonly='readonly')
        
    .form-group
      .col-sm-offset-3.col-sm-4
        button.btn.btn.btn-primary(type='submit')
          i.fa.fa-pencil
          | Update Game Settings
    
    

  .page-header
    h3 Profile Information

  form.form-horizontal(action='/account/profile', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='email') Email
      .col-sm-7
        input.form-control(type='email', name='email', id='email', value='#{user.email}')
    .form-group
      label.col-sm-3.control-label(for='name') Name
      .col-sm-7
        input.form-control(type='text', name='name', id='name', value='#{user.profile.name}')
    .form-group
      label.col-sm-3.control-label(for='gender') Gender
      .col-sm-4
        label.radio.col-sm-4
          input(type='radio', checked=user.profile.gender=='male', name='gender', value='male', data-toggle='radio')
          span Male
        label.radio.col-sm-4
          input(type='radio', checked=user.profile.gender=='female', name='gender', value='female', data-toggle='radio')
          span Female
    .form-group
      label.col-sm-3.control-label(for='location') Location
      .col-sm-7
        input.form-control(type='text', name='location', id='location', value='#{user.profile.location}')
    .form-group
      label.col-sm-3.control-label(for='website') Website
      .col-sm-7
        input.form-control(type='text', name='website', id='website', value='#{user.profile.website}')
    .form-group
      label.col-sm-3.control-label(for='gravatar') Gravatar
      .col-sm-4
        img(src="#{user.gravatar()}", class='profile', width='100', height='100')
    .form-group
      .col-sm-offset-3.col-sm-4
        button.btn.btn.btn-primary(type='submit')
          i.fa.fa-pencil
          | Update Profile

  .page-header
    h3 Change Password

  form.form-horizontal(action='/account/password', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='password') New Password
      .col-sm-7
        input.form-control(type='password', name='password', id='password')
    .form-group
      label.col-sm-3.control-label(for='confirmPassword') Confirm Password
      .col-sm-7
        input.form-control(type='password', name='confirmPassword', id='confirmPassword')
    .form-group
      .col-sm-offset-3.col-sm-4
        button.btn.btn-primary(type='submit')
          i.fa.fa-lock
          | Change Password

  .page-header
    h3 Delete Account

  form.form-horizontal(action='/account/delete', method='POST')
    .form-group
      p.col-sm-offset-3.col-sm-4 You can delete your account, but keep in mind this action is irreversible.
      input(type='hidden', name='_csrf', value=_csrf)
      .col-sm-offset-3.col-sm-4
        button.btn.btn-danger(type='submit')
          i.fa.fa-trash
          | Delete my account

  .page-header
  
    h3 Linked Accounts
  .form-horizontal
    .form-group
      .col-sm-offset-3.col-sm-4
        if user.instagram
          p: a.text-danger(href='/account/unlink/instagram') Unlink your Instagram account
        else
          p: a(href='/auth/instagram') Link your Instagram account
      .col-sm-offset-3.col-sm-4
        if user.google
          p: a.text-danger(href='/account/unlink/google') Unlink your Google account
        else
          p: a(href='/auth/google') Link your Google account
      .col-sm-offset-3.col-sm-4
        if user.facebook
          p: a.text-danger(href='/account/unlink/facebook') Unlink your Facebook account
        else
          p: a(href='/auth/facebook') Link your Facebook account
      .col-sm-offset-3.col-sm-4
        if user.twitter
          p: a.text-danger(href='/account/unlink/twitter') Unlink your Twitter account
        else
          p: a(href='/auth/twitter') Link your Twitter account
      .col-sm-offset-3.col-sm-4
        if user.github
          p: a.text-danger(href='/account/unlink/github') Unlink your GitHub account
        else
          p: a(href='/auth/github') Link your GitHub account
      .col-sm-offset-3.col-sm-4
        if user.linkedin
          p: a.text-danger(href='/account/unlink/linkedin') Unlink your LinkedIn account
        else
          p: a(href='/auth/linkedin') Link your LinkedIn account

block scripts
    script.
        function setDailyValue(val)
        {
            $("#daily").text( val );
            $("#daily").val(val);
        }
        
        function calcutlateDaily() {
            var s = Number($("#salery").val());
            var g = Number($("#goal").val());
            setDailyValue(Math.round((s - g) / 30));
        }
        
        $(document).ready(function() {
            $("#salery").keyup(function(e) {
                if ($("#salery").val().match(/^[0-9]*$/g))
                    setTimeout(calcutlateDaily, 200);
                else
                    $("#salery").val(($("#salery").val().substring(0, $("#salery").val().length -1)));
            });
            $("#goal").keyup(function(e) {
                console.log($("#goal").val().length);
            
                if ($("#goal").val().match(/^[0-9]*$/g) != null)
                   setTimeout(calcutlateDaily, 200)
                else
                    $("#goal").val(($("#goal").val().substring(0, $("#goal").val().length -1)));
            });
            calcutlateDaily();
        });